.menu {
  width: 80px;
  background: #0F0F0F;
  position: fixed;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  left: 16px;
  top: 16px;
  bottom: 16px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
li {
  display: flex;
  margin: 10px;
  width: 50px;
  height: 50px;
  align-items: center;
}
li:hover {
  background-color: #151515;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #666;
}
.icon {
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
}
.menu-element {
  border-radius: 5px;
}
.menu-element.active {
  background-color: #151515;
}
.menu.player-is-active {
  bottom: 112px;
}
